# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Logs
logs/
*.log
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# Editor folders
.idea/
.vscode/

# React Native
android/app/debug.keystore
ios/Pods/
*.swp
*.swo

# Build
/dist
/build
*.tsbuildinfo

# Expo
.expo/
.expo-shared/

# Docker
docker-compose.override.yml
*.local.yml

# MongoDB
*.mongodb
dump/